@{
  

  <!DOCTYPE html>

  <html>
  <head>
  </head>
  <body>
    <h3>@ViewBag.order.User thanks for your purchase!</h3>
    <form>
      <input type="button" value="Back to product list" onClick='location.href="https://localhost:5001/PhonePrice/Phone"'>
    </form>
  </body>
</html>
  }
